<div class="info">
<%= @user.name %> / @<%= @user.screen_name %> でログイン中
<%= link_to "Signout", "/signout", class: 'signout' %>
</div>
<div id="wrap">
<% @timeline.each do |tw| %>
	<% if tw.media? %>
	<div class="box">
		<% tw.media.each do |media| %>
			<%= image_tag media.media_uri, class: 'pic' %>
		<% end %>
		<p><%= tw.text %></p>
		<div class="details">
			<p>Posted<%= tw.created_at %></br>
				favorited: <%= tw.favorite_count %></br>
				retweeted: <%= tw.retweet_count %></p>
		</div>
		<%= image_tag tw.user.profile_image_url, class: 'icon' %>
		<h1><%= tw.user.name %> / @<%= tw.user.screen_name %></h1>
		</div>
	<% end %>
<% end %>
</div>
